body{
    background-color: white
    align-items: center;
    justify-content: center;
    display: flex;
   

}
.container{
    width: 100%;
    height: auto;
    min-width: 300x;
    min-height: 500px;
    max-width: 450px;
    background-color: rgb(213, 202, 223);;
    background-size: 30px 30px;
    border-radius: 45px;
    box-shadow: 5px 6px 8px 4px;
    margin-top: 2rem;
    padding: 1rem;
    box-sizing: border-box;
}

.heading{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom:  1rem;
}

.topic > h1{
    padding: 0.2rem 1.2rem;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    color: rgb(255, 255, 255);
    background-color: rgba(0, 0, 0,0.7);
    font-size: 1.5rem;
    text-align: center;
    font-weight: bold;
}

.appForm{
    display: flex;
    align-items: center;
    justify-content: center;
}

.appForm > input{
    box-sizing: border-box;
    background-color: transparent;
    margin: 2rem;
    padding: 0.7rem;
    border-bottom-right-radius: 30px 20px;
    border-top-left-radius: 20px 30px;
    border: 2px solid ;
    font-size: 1rem;
    color: rgb(37, 34, 34);
    width: 70%;
    margin-bottom: 20px;
}

button{
    border: none;
    background-color: rgb(213, 202, 223);
}

button:hover{
    background-origin: padding-box;
}
